.main{
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
}

.div_problema{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 60%;
}

.problema{
    color: var(--cor-cinza);
    font-size: 2rem;
    text-align: center;
}

.div_form{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    align-items: center;
}

.input{
    font-weight: bold;
    color: var(--cor-cinza);
    border: none;
    background-color: var(--cor-fundo-card);
    width: 20rem;
    height: 3rem;
    border-radius: 0.3rem;
    font-size: 1rem;
}

.button{
    background-color: var(--cor-azul-border);
    border: none;
    color: var(--cor-branca);
    width: 20rem;
    height: 3rem;
    border-radius: 0.3rem;
    font-weight: bold;
    font-size: 1rem;
}

@media (max-width: 430px) {
    .main{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .input{
        width: 15rem;
    }
    
    .button{
        width: 15rem;
    }

}

@media (min-width: 431px) and (max-width: 744px) {
    .main{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 745px) and (max-width: 834px) {
    .main{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

}

@media (min-width: 835px) and (max-width: 1024px) {
    .main{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
}  