.fundo_form{
    background-color: var(--cor-branca);
    width: 30rem;
    height: 30rem;
    border-radius: 0.5rem;
    margin-left: auto;
    margin-right: 2rem;
    background-image: none;
    border: solid 0.3rem lightgray;
    margin-bottom: 3rem;
}

.h1{
    color: var(--cor-cinza);
    text-align: center;
    margin-top: 2rem;
    font-size: 2rem;
}

@media (max-width: 430px) {
    .fundo_form{
        width: 20rem;
        height: 30rem;
        margin-right: auto;
        margin-top: 0;
    }
    
    .h1{
        font-size: 1.5rem;
    }
}

@media (min-width: 431px) and (max-width: 744px) {
    .fundo_form{
        width: 25rem;
        height: 30rem;
        margin-right: auto;
        margin-top: 0;
    }
    
    .h1{
        font-size: 1.5rem;
    }
}

@media (min-width: 745px) and (max-width: 834px) {
    .fundo_form{
        margin-right: auto;
    }
}

@media (min-width: 835px) and (max-width: 1024px) {
    .fundo_form{
        margin-right: auto;
    }
}

