.produto{
    color: var(--cor-cinza);
    font-size: 2rem;
    margin: 2rem;
    
}

.descricao{
    color: var(--cor-cinza);
    text-align: center;
    margin-top: 2rem;
}

@media (max-width: 430px) {

}

@media (min-width: 431px) and (max-width: 744px) {

}

@media (min-width: 745px) and (max-width: 834px) {
    
}

@media (min-width: 835px) and (max-width: 1024px) {

}