* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --cor-azul: #0055CF;
  --cor-cinza: #545454;
  --cor-azul-border: #6397E1;
  --cor-branca: #FFFFFF;
  --cor-fundo-card: #D9D9D9;
  --cor-fundo-vantagens: #E9E9E9;
  --cor-cinza-escuro: #1f1f1f;
}