.slogan_imagem{
    display: flex;
    margin-top: 2rem;
    align-items: center;
}


.slogan{
    color: var(--cor-cinza);
    font-size: 2.5rem;
    margin: 2.5rem;
    font-weight: bold;
    width: 50%;
}


.imagem_mulher{
    width: 35.5rem;
    height: 30rem;
    border-radius: 1.5rem;
    margin-left: 1rem;
}

.fundo{
    height: 75vh;
    background-color: #E9E9E9;
    margin-top: 2rem;
    padding-top: 1rem;
}

.guardian{
    color: var(--cor-cinza);
    margin-left: 2rem;
}

.guardian_IA{
    color: var(--cor-azul);
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1rem;
    margin-top: 4rem;
}

.item{
    display: flex;
    align-items: center; 
    width: 45%;
    margin: 2.5rem 0;
}

.frase{
    color: #545454;
    font-size: 1.5rem;
    margin: 0.8rem;
}

.div_texto{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.texto{
    width: 50%;
    margin-left: 2rem;
    font-size: 2rem;
    color: var(--cor-cinza);
}

.img_carro{
    width: 35.5rem;
    height: 30rem;
    border-radius: 1.5rem;
    margin-right: 1rem;
}

@media (max-width: 430px) {
    .slogan{
        font-size: 1rem;
        margin: 1rem;
    }

    .imagem_mulher{
        width: 50%;
        height: 10rem;
        border-radius: 1.5rem;
    }

    .fundo{
        height: 70vh;
    }

    .item{
        width: 60%;
        margin: 2rem 0;
    }

    .container{
        flex-direction: column;
        padding: 1rem;
        margin-top: 1rem;
    }
    
    .frase{
        font-size: 1rem;
    }

    .texto{
        margin-left: 1rem;
        font-size: 1rem;

    }
    
    .img_carro{
        width: 10rem;
        height: 13rem;
        margin-right: 1rem;
    } 
}

@media (min-width: 431px) and (max-width: 744px) {
    .slogan{
        font-size: 1rem;
        margin: 1rem;
    }

    .imagem_mulher{
        width: 50%;
        height: 10rem;
        border-radius: 1.5rem;
        margin-right: 1rem;
    }

    .fundo{
        height: 65vh;
    }

    .guardian{
        font-size: 1.5;
    }

    .item{
        width: 60%;
        margin: 2rem 0;
    }

    .container{
        flex-direction: column;
        padding: 1rem;
        margin-top: 1rem;
    }
    
    .frase{
        font-size: 1rem;
    }

        
    .texto{
        font-size: 1rem;
    }
    
    .img_carro{
        width: 15rem;
        height: 18rem;
        margin-right: 1rem;
    } 
}

@media (min-width: 745px) and (max-width: 834px) {
    .slogan{
        font-size: 2rem;
        margin: 2rem;
    }

    .imagem_mulher{
        width: 50%;
        height: 20rem;
        border-radius: 1.5rem;
        margin-right: 1rem;
    }

    .fundo{
        height: 70vh;
    }

    .container{
        flex-direction: column;
        padding: 1rem;
        margin-top: 1rem;
    }
    
    .frase{
        font-size: 1rem;
    }
    
    .texto{
        font-size: 1rem;
    }
    
    .img_carro{
        width: 18rem;
        height: 20rem;
        margin-right: 1rem;
    }   
    
}

@media (min-width: 835px) and (max-width: 1024px) {
    .imagem_mulher{
        width: 50%;
        height: 20rem;
        border-radius: 1.5rem;
        margin-right: 1rem;
    }

    .texto{
        font-size: 1.5rem;
    }
    
    .img_carro{
        width: 18rem;
        height: 20rem;
        margin-right: 1rem;
    }

    .fundo{
        height: 50vh;
    }
}