.main{
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
    flex-wrap: wrap;
}

.ajuste_repo{
    display: flex;
    justify-content: center;
    margin: 2rem;
}

.repo{
    border: solid 0.2rem var(--cor-cinza-escuro);
    color: var(--cor-cinza-escuro);
    font-weight: bold;
    font-size: 1.5rem;
    padding: 1.5rem;
    border-radius: 0.5rem;
}

@media (max-width: 430px) {
 
}

@media (min-width: 431px) and (max-width: 744px) {
}

@media (min-width: 745px) and (max-width: 834px) {

}

@media (min-width: 835px) and (max-width: 1024px) {

}   
